* {
    box-sizing: border-box;
}

.box {
    width: 1135px;
    height: 680px;
    background-color: white;
    margin: auto;
}

.box1{
    float: left;
    width:5cm ;
    height:13cm ;
    background-color: yellow;
    margin-left: 5em ;
    margin-top: 3em; 
    margin-bottom: 2em;  
    border: 2px solid black;
}

.box2 {
    float: left;
    width:5cm ;
    height:13cm ;
    background-color:blue;
    margin-left: 5em ;
    margin-top: 3em; 
    margin-bottom: 2em;  
    border: 2px solid black;
}

.box3 {
    float: left;
    width:5cm ;
    height:13cm ;
    background-color: red;
    margin-left: 5em ;
    margin-top: 3em; 
    margin-bottom: 2em;  
    border: 2px solid black;
}

.box4 {
    float: left;
    width:5cm ;
    height:13cm ;
    background-color:orange;
    margin-left: 5em ;
    margin-top: 3em; 
    margin-bottom: 2em;  
    border: 2px solid black;
}


