*{
    box-sizing: border-box;
}

.top{
    float: inline-start;
    width: 900px;
    height: 100px;
    background-color:green;
    margin: auto ;
    border: 2px solid black;
}

.row{
    margin-top: 50px;
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.column  {
    height: 200px;
}

.red{
    width: 250px;
    background-color: red;
    float: left;
    border: 2px solid black;
}

.yellow{
    width: 600px;
    background-color: yellow;
    float: right;
    border: 2px solid black;
}

.orange{
    width: 600px;
    background-color: orange;
    float: right;
    border: 2px solid black;
}